<h1>Books</h1>

<input type="text" class="form-control" ng-model="searchText"/>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books | filter:searchText">
            <td><a ng-href="#/books/{{book.isbn}}" ng-bind="book.title"></a></td>
            <td ng-bind="book.author"></td>
            <td ng-bind="book.isbn"></td>
            <td><button ng-click="deleteBook(book)">Delete</button></td>
        </tr>
    </tbody>
</table>

<message-dialog visible="dialogVisible"
                title="dialogTitle"
                on-yes="performDeletion()"
                on-no="cancelDeletion()">
    Wollen Sie das Buch <strong>{{bookToDelete.title}}</strong> wirklich löschen?
</message-dialog>